@model User

<form asp-action="CreatePost" method="post">
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" type="text" id="FirstName" name="First Name"/>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" type="text" id="LastName" name="Last Name"/>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input class="form-control" type="email" id="Email" name="Email"/>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input class="form-control" type="text" id="Phone" name="Phone"/>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input class="form-control" type="password" id="Password" name="Password"/>
    </div>


</form>