@model User

<h2>Are you sure you want to delete your account?</h2>


<!-- Form for confirming the deletion -->
<form asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    
    <button type="submit" class="btn btn-danger m-1">Delete</button>
    <a asp-action="Index" class="btn btn-secondary m-1">Cancel</a>
</form>