


<h1 style ="text-align:center; padding-top:3%;">Welcome to Cardonnay, What would you like to revise?</h1>
<p style="text-align:center;">Master whatever you’re learning with Cardonnays interactive flashcards, practice tests and study activities.</p>

<div class="d-flex justify-content-center" style="padding-top: 20px;">
    <button type="button" class="btn btn-primary">View Cards</button>
</div>










