

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Quizzy Cards</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Create Cards</a></li>
                        <li><a class="dropdown-item" href="#">Edit Cards</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">View Cards</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Secret Button</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button type="button" class="btn btn-outline-primary">Search</button>
            </form>
        </div>
    </div>
</nav>



<h1 style ="text-align:center; padding-top:3%;">Welcome, What would you like to revise?</h1>
<p style="text-align:center;">Master whatever you’re learning with Quizlet’s interactive flashcards, practice tests and study activities.</p>

<div class="d-flex justify-content-center" style="padding-top: 20px;">
    <button type="button" class="btn btn-primary">View Cards</button>
</div>

<div class="d-flex justify-content-center" style="padding-top: 5px; padding-bottom:10px;">
    <button type="button" class="btn btn-outline-primary">Create Cards</button>
</div>





<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem; height:20rem; border:0; ">
                <img src="https://cdn-icons-png.flaticon.com/512/3855/3855519.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem; height:20rem;border:0;">
                <img src="https://cdn-icons-png.flaticon.com/512/5219/5219497.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem; height:20rem;border:0;">
                <img src="https://cdn-icons-png.flaticon.com/512/10236/10236430.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>







